@use "../base/variables.scss" as v;

:root {
  --grid-unit: 1rem;
  --border-radius-base: 0.5rem;
}

[data-theme="light"] {
  --bg: url("./../../assets/images/pattern-background-desktop-light.svg");
  --color-fg: #313e51;
  --color-bg: #f4f6fa;
  --color-card-bg: #ffffff;
}

[data-theme="dark"] {
  //use variable from _variables.scss
  --bg: url("./../../assets/images/pattern-background-desktop-dark.svg");

  --color-fg: #ffffff;
  --color-bg: #313e51;
  --color-card-bg: #3b4d66;
}

/* example use of CSS custom properties */
body {
  background-color: var(--color-bg);
  background-image: var(--bg);
  color: var(--color-fg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1160px;
  width: 90vw;
  margin: 0 auto;
}
p {
  @include body-s;
}
main {
  margin-top: 50px;
}

button {
  width: 100%;
  height: 92px;
  border-radius: 24px;
  background-color: v.$purple-color;
  @include heading-s;
  transition: all 0.4s ease-in-out;
  color: #ffffff;
  border: 1px solid v.$purple-color;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  &:disabled {
    background-color: #d394fa;
    border: 1px solid #d394fa;
  }
}

.container {
  display: flex;
  transition: all 2s ease-in-out;
  .row {
    width: 50%;
    box-sizing: border-box;
  }
  h4 {
    @include heading-m;
    color: var(--color-fg);
    margin-bottom: 10px;
  }
  h3 {
    @include heading-l-regular;
    color: var(--color-fg);
    margin-bottom: 10px;
  }
  h1 {
    @include heading-l;
    color: var(--color-fg);
    margin-top: 0;
  }
  .card {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-card-bg);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    border-radius: 24px;
    // drop shadow
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    height: 96px;
    transition: all var(--global-transition-time) ease-in-out;
    cursor: pointer;
    &:hover .optionLabel {
      background-color: #f6e7ff;
      color: v.$purple-color;
    }
    &.selected {
      border: 3px solid v.$purple-color;
      .optionLabel {
        background-color: v.$purple-color;
        .optionLetter {
          color: #fff;
        }
      }
    }
    .card-img {
      width: 56px;
      height: 56px;
      border-radius: 15px;
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
      }
    }
    h3 {
      @include heading-s;
      color: var(--color-fg);
      margin: 0;
    }
    .optionLabel {
      background-color: v.$light-grey-color;
      width: 56px;
      height: 56px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;

      .optionLetter {
        @include heading-s;
        color: var(--color-fg);
      }
    }
  }
  #HTML {
    .card-img {
      background-color: #fff1e9;
    }
  }
  #CSS {
    .card-img {
      background-color: #e0fdef;
    }
  }
  #JavaScript {
    .card-img {
      background-color: #ebf0ff;
    }
  }
  #Accessibility {
    .card-img {
      background-color: #f6e7ff;
    }
  }
}

#quiz-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  max-height: 500px;
}
#question_div {
  position: relative;
  height: auto;
  flex: 1;
}
.progress {
  width: 100%;
  height: 16px;
  background-color: #ffffff;
  border-radius: 12px;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 20%;
  padding: 4px;
  .progress-bar {
    height: 100%;

    background-color: v.$purple-color;
    border-radius: 12px;
    border: 4px solid v.$purple-color;
  }
}
