// ----------- SPACE UTILITIES ------------ //

.margin-bottom-big {
  margin-bottom: 3rem;
}

.margin-top-medium {
  margin-top: 2rem;
}

.margin-top-big {
  margin-top: 3rem;
}

// ------------ MIXINS ------------ //

@mixin cursor-pointer-color-white {
  color: $white;
  cursor: pointer;
}
